.errorContainer {
    background-color: #f9f9f9;
    width: 100%;
    padding: 20px;
}

.error-status {
    color: crimson;
    display: block;
    width: fit-content;
    margin: auto;
}

.error-title {
    color: coral;
    display: block;
    width: fit-content;
    margin: auto;
    font-weight: bold;
}

.options-div {
    padding: 10px;
    background-color: #ffffff;
    font-size: 15px;
}

.options-div p {
    color: chocolate;
    font-size: 14px;
}

.options-div a {
    color: chocolate;
    text-decoration: underline;
}

.options-div a:hover {
    color: blue;
    cursor: pointer;
}