.App {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10px;
  background-color: #000;
  color: white;
  width: 100%;
  position: fixed;
}

.navigation ul{
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navigation li{
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 200px;
  color: antiquewhite;
}

.navigation .img-container{
  height: 40px;
}

.navigation img{
  width: 45px;
  height: 60%;
  position: absolute;
  border-radius: 50%;
  border: solid;
  float: right;
  margin: auto 10px;
}



/* Admin Console Side Bar */

.menu-icon{
  height: 30px;
}

.side-nav-container {
  display: flex;
  height: 100%;
}

.side-nav-container button{
  background: gray;
  border: none;
  padding: 10px 5px;
  display: block;
}

.side-nav-container button:hover{
  cursor: pointer;
  background-color: #cccccc;
}

.side-nav-container .btn-expand{
  padding: 10px 60px;
}

.side-nav-container .nav-elements{
  margin: 10px 10px;
}

.side-bar{
  width: 150px;
  background: gray;
  color: white;
}

.side-bar ul{
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.side-bar li{
  text-decoration: none;
  display: inline-block;
  font-size: large;
  width: 200px;
  color: antiquewhite;
}

.side-bar a{
  padding: 10px 5px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.side-bar a:hover{
  cursor: pointer;
  color: aquamarine;
  background-color: #000;
}


/* Main Div below Top Nav */
.mainDiv {
  padding-top: 80px;
}


/* Authentication Forms */

.container{
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .innerDiv{
  width: 350px;
  height: fit-content;
  padding: 20px;
}

.innerDiv input{
  display: block;
  width: 95%;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: solid gray;
}

.login-button{
  display: block;
  width: 100%;
  margin: 20px 0px;
  height: 35px;
  background: green;
  border-radius: 5px;
  border: none;
  color: white;
}

.login-button:hover{
  background-color: darkgreen;
}

.innerDiv .errorResponse{
  margin: 10px;
  height: max-content;
  padding: 5px 15px;
  background: firebrick;
  border: 0.1px solid;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  width: 170px;
}

.registerTitle{
  margin: 10px auto;
  width: fit-content;
  font-size: 20px;
  font-family: monospace;
}

.authForm{
  width: fit-content;
  margin: auto;
}

.authForm input{
  padding: 5px 10px;
  width: 175px;
  margin: 5px 5px;
  border: 0.2px solid;
  border-radius: 5px;
  height: 20px;
}

.authForm button{
  background: black;
  color: white;
  height: 35px;
  width: 175px;
  border: 1px solid;
  border-radius: 10px;
  margin: 5px 15px
}

.authForm button:hover{
  color: antiquewhite;
}

.authForm span{
  color: red;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

.authForm .registerBtn{
  background: none;
  color: gray;
}

.authForm .registerBtn:hover{
  color: #000;
}


/* Profile Page */
.pp-container {
  padding: 5px;
  border-top: solid 1px coral;
  border-radius: 50%;
  margin: auto;
}

.profile-pic{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}


/* Update User Account */

.updateField{
  margin: 20px 20px;
  border-top: 0.1px solid grey;
}

.updateField .editbutton{
  width: fit-content;
  float: right;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0.2px solid;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.updateField .editbutton:hover{
  border: 1px solid;
}

.updateField .savebutton{
  float: right;
  color: green;
  background: white;
  width: 100px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
}

.updateField input{
  width: 100px;
  height: 30px;
  background: lightgray;
  border: lightgray;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.authBtn{
  width: 75px;
  height: 30px;
  font-size: 15px;
  background: #000;
  color: #fff;
  border: 0.2px solid;
  border-radius: 5px;
}

.authBtn:hover{
  color: antiquewhite;
  border: 1px solid;
}


/* Profile Page */
.sideDiv{
  height: 50%;
  width: 160px;
  position: fixed;
  z-index: 1;
  font-size: large;
  overflow-x: hidden;
  padding: 10px;
  display: inline;
  font-size: larger;
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

.sideDiv a{
  text-decoration: none;
  display: block;
  color: gray;
  padding: 20px;
}


/* Security Field from Profile */
.secDiv{
  margin-bottom: 20px;
}

.secDiv .subDiv{
  margin: 30px 20px;
  border-top: solid 0.2px lightgray;
}

.secDiv a{
  color: gray;
  font-style: italic;
  text-decoration: underline;
}

.secDiv .changePwdDiv{
  display: flex;
  width: 80%;
}

.secDiv .changePwdBtn{
  background: darksalmon;
}

/* Change Password Form */
.cpf{
  display: flex;
}

.cpf-txt{
  margin: 0px 10px;
}

.cpf-cancel {
  height: 50px;
  margin: auto;
}

/* bg-modal */
.bg-modal{
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal .form{
  width: 50%;
  height: 60%;
  background-color: #fff;
}

.form form{
  padding: 10px;
}

.form .title{
  display: block;
  margin: 10px auto;
  width: 35%;
}

.form .textField{
  width: 50%;
  display: block;
  margin: 15px auto;
}

.form Button{
  width: 50%;
  display: block;
  margin: 10px auto;
}

.pwd-desc{
  font-size: xx-small;
  color: crimson;
  width: 50%;
  margin: auto;
}

.bg-modal-logout{
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.bg-modal-logout div{
  width: 45%;
  height: 30%;
  background-color: indianred;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.bg-modal-logout Button{
  background: beige;
  display: block;
  float: right;
  margin-top: 20px;
  color: indianred;
  font-weight: bold;
}

.bg-modal-logout Button:hover{
  background: bisque;
}

.upload-avatar{
  width: 40vh;
  height: 40vh;
  background-color: #fff;
}

.upload-avatar .file-input{
  display: block;
  margin: 10px auto;
}

.upload-avatar img{
  display: block;
  height: 30vh;
  width: 35vh;
  margin: 10px auto;
}

.upload-avatar .btn-div{
  float: right;
  margin: auto 20px;
  display: flex;
  justify-content: space-around;
}

.btn-div input{
  background-color: coral;
  padding: auto 5px;
  border: coral solid;
  border-radius: 5px;
  color: #fff;
}

.btn-div input:hover{
  background-color: chocolate;
  border: chocolate solid;
}