/*
** CSS styling for Support Page 
*/

.sup-div {
  padding: 30px;
}

.header {
  padding-top: 20px;
  width: fit-content;
  margin: auto;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: underline;
}