/** Styling for Utility Components */

.empty-container {
    width: 80%;
    min-width: 250px;
    height: 60%;
    margin: auto;
    margin-top: -100px;
}

.empty-container img {
    display: block;
    width: 90%;
    max-width: 600px;
    height: 80%;
    margin: auto;
}

.empty-container p {
    margin: 10px auto;
    width: fit-content;
    font-size: 0.9rem;
    font-style: italic;
    text-decoration: underline;
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}


.empty-container p:hover {
    transform: scale(1.1);
    color: black;
}
